.chamber-form {
    max-width: 400px; /* Adjust the max width as needed */
    margin: auto; /* Center the form on the page */
  }
  
  .form-group {
    margin-bottom: 20px; /* Add some space between form groups */
  }
  
  .btn-primary {
    margin-top: 10px; /* Add some space above the button */
  }
  
  .text-danger {
    margin-top: 5px; /* Add some space above the error messages */
  }