<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">Welcome!</h1>
          <p class="text-lead text-light">Use these awesome forms to login or create new account in your project for free.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <!-- Table -->
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-8">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-4"><small>Sign up with</small></div>
          <div class="text-center">
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon mr-4">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/github.svg"></span>
              <span class="btn-inner--text">Github</span>
            </a>
            <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><img src="assets/img/icons/common/google.svg"></span>
              <span class="btn-inner--text">Google</span>
            </a>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small>Or sign up with credentials</small>
          </div>
          <form role="form" #f="ngForm" (submit)="register()">
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="user.nom" name="nom" #nom="ngModel" required minlength="4" pattern="[a-zA-Z]*"  placeholder="Nom" type="text">
                
            
                
              </div>
              <div class="text-warning font-italic" *ngIf="nom.invalid && nom.touched">
                <small *ngIf="nom.errors['required']">
                    Champ obligatoire
                </small>
                <small *ngIf="nom.errors['minlength']">
                min {{nom.errors['minlength']['requiredLength']}} caractères
                alors que vous avez écrit 
                {{ nom.errors['minlength']['actualLength'] }}
                </small>
                <small *ngIf="nom.errors['pattern']">
                    ne contient que des lettres
                </small>
                </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="user.prenom" name="prenom" #prenom="ngModel" required minlength="4" pattern="[a-zA-Z]*"  placeholder="Prenom" type="text">
                
            
                
              </div>
              <div class="text-warning font-italic" *ngIf="prenom.invalid && prenom.touched">
                <small *ngIf="prenom.errors['required']">
                    Champ obligatoire
                </small>
                <small *ngIf="prenom.errors['minlength']">
                min {{prenom.errors['minlength']['requiredLength']}} caractères
                alors que vous avez écrit 
                {{ prenom.errors['minlength']['actualLength'] }}
                </small>
                <small *ngIf="prenom.errors['pattern']">
                    ne contient que des lettres
                </small>
                </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="user.email" name="email" #email="ngModel" required  pattern="^[a-zA-Z0-9._-]+@gmail.com"  placeholder="Email" type="email">
                
            
                
              </div>
              <small class="text-warning font-italic" *ngIf="email.invalid && email.touched">
                il faut avoir un compte gmail
            </small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="user.cin" name="cin" #cin="ngModel" required  pattern="[0-9]*8"  placeholder="Cin" type="number">
                
            
                
              </div>
              <small class="text-warning font-italic" *ngIf="cin.invalid && cin.touched">
                CIN
            </small>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="user.dateNaissance" name="dateNaissance" #dateNaissance="ngModel" required  type="date">
                
            
                
              </div>
              <small class="text-warning font-italic" *ngIf="dateNaissance.invalid && dateNaissance.touched">
                required
            </small>
            </div>
            
            <div class="form-group">
              <div class="input-group input-group-alternative mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-hat-3"></i></span>
                </div>
                <input class="form-control" [(ngModel)]="user.motDePasse" name="motDePasse" #motDePasse="ngModel" required minlength="5" pattern="^[a-zA-Z0-9]{8,}?"  placeholder="Password" type="Password">
                
            
                
              </div>
              <small class="text-warning font-italic" *ngIf="motDePasse.invalid && motDePasse.touched">
                too short
            </small>
            </div>
            
            <div class="text-muted font-italic"><small>password strength: <span class="text-success font-weight-700">strong</span></small></div>
            <div class="row my-4">
              <div class="col-12">
                <div class="custom-control custom-control-alternative custom-checkbox">
                  <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                  <label class="custom-control-label" for="customCheckRegister">
                    <span class="text-muted">I agree with the <a href="#!">Privacy Policy</a></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" [disabled]="f.invalid" class="btn btn-primary mt-4">Create account</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-md-center">
  <div class="col-4">
    <div class="card" style="width: '18rem'">
      <div class="card-body">
        <h5 class="card-title">Backend response</h5>
        <p class="card-text">Content:</p>
        <ul>
          <li *ngFor="let line of data">{{line.idUser}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
