// _variables.scss
$color_1: red;
$color_2: #0c5460;
$color_3: #856404;
$color_4: #721c24;
$background-color_1: #155724;
$background-color_2: #d1ecf1;
$background-color_3: #fff3cd;
$background-color_4: #f8d7da;
$border-color_1: #c3e6cb;
$border-color_2: #bee5eb;
$border-color_3: #ffeeba;
$border-color_4: #f5c6cb;

.custom-alert {
  border-radius: 8px;
  padding: 15px;
  text-align: center;
  margin: 10px auto; 

  &.alert-success {
    background-color: $background-color_1;
    color: $color_1;
    border: 1px solid $border-color_1;
  }

  &.alert-info {
    background-color: $background-color_2;
    color: $color_2;
    border: 1px solid $border-color_2;
  }

  &.alert-warning {
    background-color: $background-color_3;
    color: $color_3;
    border: 1px solid $border-color_3;
  }

  &.alert-danger {
    background-color: $background-color_4;
    color: $color_4;
    border: 1px solid $border-color_4;
  }
}
